@import url('archivo.css');

:root {
    /* Fonts */
    --font-thin: 'Archivo-Thin', sans-serif;
    --font-thin-italic: 'Archivo-ThinItalic', sans-serif;
    --font-extra-light: 'Archivo-ExtraLight', sans-serif;
    --font-extra-light-italic: 'Archivo-ExtraLightItalic', sans-serif;
    --font-light: 'Archivo-Light', sans-serif;
    --font-light-italic: 'Archivo-LightItalic', sans-serif;
    --font-regular: 'Archivo-Regular', sans-serif;
    --font-italic: 'Archivo-Italic', sans-serif;
    --font-medium: 'Archivo-Medium', sans-serif;
    --font-medium-italic: 'Archivo-Medium', sans-serif;
    --font-semibold: 'Archivo-SemiBold', sans-serif;
    --font-semibold-italic: 'Archivo-SemiBoldItalic', sans-serif;
    --font-bold: 'Archivo-Bold', sans-serif;
    --font-bold-italic: 'Archivo-BoldItalic', sans-serif;
    --font-extrabold: 'Archivo-ExtraBold', sans-serif;
    --font-extrabold-italic: 'Archivo-ExtraBoldItalic', sans-serif;
    --font-black: 'Archivo-Black', sans-serif;
    --font-black-italic: 'Archivo-BlackItalic', sans-serif;

    /* Dark Mode Colors */
    --dark-background: #242629;
    --dark-headline: #fffffe;
    --dark-subheadline: #94a1b2;
    --dark-cardbackground: #16161a;
    --dark-cardheading: #16161a;
    --dark-cardparagraph: #94a1b2;
    --dark-stroke: #010101;
    --dark-main: #fffffe;
    --dark-highlight: #7f5af0;
    --dark-secondary: #72757e;
    --dark-tertiary: #2cb67d;

    /* Light Mode Colors */
    --light-background: #fffffe;
    --light-headline: #2b2c34;
    --light-paragraph: #2b2c34;
    --light-button: #6246ea;
    --light-button-text: #fffffe;
    --light-stroke: #2b2c34;
    --light-main: #fffffe;
    --light-highlight: #6246ea;
    --light-secondary: #d1d1e9;
    --light-tertiary: #e45858;
}